/* *{
  color: #f3e8e0 !important;

  background-color:#0f445c  !important;
} */
.background {
    min-height: 100vh;
    width: 100vw;
    display: flex;   
    /* z-index: 1; */
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    overflow-x: hidden;
  }
  .Firstletter::selection{
    /* background-color: yellow; */
    background-color: blue;
    color: red;
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .effect {
    color: white;
    -webkit-text-stroke-color: rgb(0, 242, 255);
    -webkit-text-stroke-width: 1px;
    font-size: 20px;
    z-index: 2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
 
  
  .outside img {
    margin-right: 20px;
    box-shadow: 1px 1px 3px 6px  #cccab0;
    
    margin-top: 20px;
  }
  
  .height {
    margin-top: 50px;
  }
  
  @media (max-width: 768px) {
    .height {
      font-size: 2rem;
      /* margin-left: 230px; */
    }
  
    .effect {
      font-size: 1.25rem;
    }
    .background .d-flex{
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
    }
    .outside img{
      height: 200px;
    }
  }
  @media (max-width: 680px) {
    .height {
      font-size: 2rem;
      /* margin-right: 230px; */
    }
  }