.parent_div{
    min-height: 100vh;
    background-color: black;

}

.container1 {
    height: 294px;
    width: 240px;
    color: #e4e3d7;
    
    perspective: 800px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.lg3{
 padding-left: 100px;
 padding-top: 50px;
 padding-bottom: 50px;
}
  
  .card1 {
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 2rem;
    position: relative;
    transition: transform 2000ms;
    transform-style: preserve-3d;
  }
  
  
.container1:hover > .card1 {
    cursor: pointer;
    transform: rotateX(180deg) rotateZ(-180deg);
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 5px #e4e3d7;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
  .back {
    background-color: black;
    transform: rotateX(180deg) rotateZ(-180deg);
  }

 .txt12{
   text-align: center;
 } 

 @media (max-width: 460px) {
  .lg3{
    padding-left: 80px;
  }
}
@media (max-width: 435px) {
  .lg3{
    padding-left: 60px;
  }
}
@media (max-width: 400px) {
  .lg3{
    padding-left: 40px;
  }
}
@media (max-width: 370px) {
  .lg3{
    padding-left: 30px;
  }
}
@media (max-width: 340px) {
  .lg3{
    padding-left: 20px;
  }
}
@media (max-width: 320px) {
  .lg3{
    padding-left: 0%;
  }
}