#basic-navbar-nav {
    margin-left: 230px;
    overflow-x: hidden;
  }
  .custom-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3ebdc6;
    color: #e4e3d7 !important; 
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 0px 3px 6px  #cccab0;
    

  }
  
  
  #basic-navbar-nav .li,  #basic-navbar-nav .li1 {
    margin-left: 50px;
    font-size: 25px;
    color: rgb(0, 242, 255);
    border-radius: 10px;
    letter-spacing: 0.5px;
  }
  
  #basic-navbar-nav .li:hover ,  #basic-navbar-nav .li1:hover {
    background-color: black;
    color: #cccab0;
    box-shadow: 0 5px 15px #cccab0;
  }
  
  #basic-navbar-nav .li.active {
    color: #cccab0 !important;
  }
  
  .Navbar {
    /* border: 1px solid rgb(0, 242, 255); */
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  @media (max-width: 12000px) {
    #basic-navbar-nav {
      margin-left: 140px;
      overflow-x: hidden;
    }
  }
  @media (max-width: 991px) {
    #basic-navbar-nav {
      margin-left: auto;
      overflow-x: hidden;
    }
    #basic-navbar-nav .li,  #basic-navbar-nav .li1{
      margin-left: auto;
    }
  }

 